<!DOCTYPE html>
<html>
<head>
  <title>Password Generated</title>
  <link rel="stylesheet" href="style.css">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <style>
    * {
      text-decoration: none;
      color: white;
      text-align: center;
    }
    p {
      font-weight: bold;
      color: #3f86ff;
      font-size: 32px;
      text-align: center;
    }
    .button {
      font-size: 15px;
      font-weight: bolder;
    }
    h1 {
      text-size-adjust: initial;
    }
    </style>
</head>
<body>
  <h1>Password Generated</h1>
  <p><%= password %></p>
  <a href="/" class="button">Generate Another Password</a>
</body>
</html>
