@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  margin: 20px;
  color: #ffffff;
  background-color: #212121;
}
h1 {
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  margin: 0 auto;
}
label {
  margin-bottom: 10px;
}
input[type="checkbox"],
input[type="number"] {
  margin-left: 5px;
}

/* Hover effect with transition */
input[type="submit"],
input[type="checkbox"],
input[type="number"],
.github-link {
  transition: transform 0.2s ease-out;
}

input[type="submit"]:hover,
input[type="checkbox"]:hover,
input[type="number"]:hover,
.github-link:hover {
  transform: scale(1.19);
}

input[type="submit"]:not(:hover),
input[type="checkbox"]:not(:hover),
input[type="number"]:not(:hover),
.github-link:not(:hover) {
  transform: scale(1);
}

/* Checkbox styles */
input[type="checkbox"] {
  accent-color: #3f86ff;
}
input[type="number"] {
  background-color: #3f86ff;
  outline: 2px solid #3f86ff;
  outline-offset: 2px;
  color: #fff;
}

/* Submit button styles */
input[type="submit"] {
  background-color: #3f86ff;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.github-link {
  position: fixed;
  bottom: 2px;
  right: 20px;
  color: #b7b7b7;
  font-size: 50px;
  text-decoration: none;
}

.github-link:hover {
  color: #fff;
}
